<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/normalize.css")}} />
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/app.css")}} />
</head>
<body>
    <div class="hdr">
        <header>
            <h1>Header</h1>
        </header>
    </div>
    <div class="app">
        <nav>
            <ul>
                <navi>
                    <li><a href={{ url_for("index") }}>Welcome</a></li>
                    <li><a href={{ url_for("view_about") }}>About</a></li>
                    <li><a href={{ url_for("view_admin") }}>Admin</a></li>
                </navi>
            </ul>
        </nav>

        <main>
            {% block main %} {% endblock %}
        </main>

    </div>
    <div class="ftr">
        {% include "_footer.jinja" %}
    </div>
</body>
</html>
