{% extends "_main.jinja" %}

{% block title %} About {% endblock %}

{% block main %}
<div class="title">
    <h1 class="psp_telecash" id="p1">P1 Telecash</h1>
    <h1 class="psp_web2pay" id="p2">P2 Web2Pay</h1>
    <h1 class="psp_trustcommerce" id="p3">P3 TrustCommerce</h1>
    <h1 class="psp_nmi" id="p4">P4 NMI</h1>
    <h1 class="psp_ccv" id="p5">P5 CCV</h1>
</div>

<header>
    Zacinam
</header>
<p>
<ol class="todos">
    <li>
        <svg>
            <circle cx="13" cy="14" r="10"></circle>
        </svg>
        <p>Lorem, ipsum dolor.</p>
    </li>
    <li>
        <svg>
            <circle cx="13" cy="14" r="10"></circle>
        </svg>
        <p>Lorem ipsum dolor sit amet.</p>
    </li>
</ol>
</p>

<footer>Koncim</footer>
{% endblock %}