{% extends "_main.jinja" %}

{% block title %} About {% endblock %}

{% block main %}
<article>
    <header>
        Zacinam
    </header>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, molestiae.
    </p>
    <footer>Koncim</footer>
</article>
{% endblock %}
