{% extends "_main.jinja" %}

{% block title %}Admin {% endblock %}

{% block main %}
<header>
    Login to Inout2
</header>
<p>
<form>
    <input type="text" placeholder="username/email" />
    <input type="password" placeholder="password" />
    <input type="submit" />
</form>
</p>

<footer>no ta dobre</footer>
{% endblock %}