{% extends "_main.jinja" %}

{% block title %}Welcome {% endblock %}

{% block main %}
<article>
    <header>
        zeby
    </header>
    <p>
        Admin.
    </p>
    <footer>no ta dobre</footer>
</article>
{% endblock %}
