{% extends "_main.jinja" %}

{% block title %}Admin {% endblock %}

{% block main %}
<div class="title">
    <h1 class="psp_telecash" id="p1">P1 Telecash</h1>
    <h1 class="psp_web2pay" id="p2">P2 Web2Pay</h1>
    <h1 class="psp_trustcommerce" id="p3">P3 TrustCommerce</h1>
    <h1 class="psp_nmi" id="p4">P4 NMI</h1>
    <h1 class="psp_ccv" id="p5">P5 CCV</h1>
</div>

<header>
    Login to Inout2
</header>
<p>
<form action="{{ url_for('login_user') }}" method="POST">
    <input type="text" placeholder="username" name="username" />
    <input type="password" placeholder="password" name="password" />
    <input type="submit" value="LogIn"/>
</form>
</p>

<p>
    <a href="{{ url_for('view_tenants') }}">show tenants</a><br>
    <a href="{{ url_for('view_users') }}">show users</a><br>
    <a href="{{ url_for('add_user') }}">add user</a><br>

</p>
<footer>no ta dobre</footer>
{% endblock %}