<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" sizes="16x16" href="./../static/icon/favicon.ico" > 

    <link rel="stylesheet" type="text/css" href="./../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./../static/css/login.css" />

</head>
<body>
    <div class="login_form">
        <h2>Sign-in</h2>
        <form action="login.html" method="POST">
            <p>Email</p>
            <input type="text" placeholder="email" name="email">
            <p>Password</p>
            <input type="password" placeholder="password" name="password">
            <button>
                <input type="submit" value="Sign-in">
            </button>
        </form>
    </div>

    <footer>
        <p class="bottom_nav">
            <a href="#">About us</a>
            <a href="#">Guides & Tutorials</a>
            <a href="#">Status</a>
            <a href="#">What's new</a>
            <a href="mailto:udigeri@gmail.com" class="bottom_nav_end">Email us</a>
        </p>
        <p class="copyright">
            Copyright © 2022 Udi
        </p>
    </footer>
    
</body>
</html>

