<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" sizes="16x16" href="./../static/icon/favicon.ico" > 

    <link rel="stylesheet" type="text/css" href="./../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./../static/css/welcome.css" />

</head>
<body>
    <div class="login_form">
        <form action="login.html" method="POST">
            <input type="text" placeholder="email" name="email">
            <input type="password" placeholder="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>

    <article>
        <header>
            Inout2 
        </header>

        <p>
            Daco zmysluplne o Inout2
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum modi harum, corporis repellat quas architecto facere laudantium. Eligendi neque expedita suscipit molestiae nihil non dignissimos culpa eius cum explicabo. Veniam unde velit delectus ad ipsa quidem quibusdam, ut maiores corrupti atque aperiam voluptates cumque eveniet eum modi, eius consectetur reprehenderit.
        </p>

        <footer>
            12.08.2022
        </footer>
    </article>

    <footer>
        <p class="bottom_nav">
            <a href="#">About us</a>
            <a href="#">Guides & Tutorials</a>
            <a href="#">Status</a>
            <a href="#">What's new</a>
            <a href="mailto:udigeri@gmail.com" class="bottom_nav_end">Email us</a>
        </p>
        <p class="copyright">
            Copyright © 2022 Udi
        </p>
    </footer>
    
</body>
</html>

