{% extends "_main.jinja" %}

{% block title %}Welcome {% endblock %}

{% block main %}
<article>
    <header>
        zaciatok clanku
    </header>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <footer>koniec clanku</footer>
</article>
{% endblock %}
