html {
  font-size: 100%;
}

body {
  color: rgb(44, 44, 44);
  font-size: 18px;
  font-family: -apple-system, -system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-family: "Arial Rounded MT Bold", "Nunito", sans-serif; */

  background-image: linear-gradient(
    to right,
    rgb(206, 199, 224),
    rgb(172, 140, 142)
  );

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.flashes {
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
}

.flashes li {
  list-style: none;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding: 3px;
  text-align: center;
  background-color: lightgreen;
}

.flashes .alert {
  background-color: mistyrose;
}

/* LOGIN */
.login_form {

  width: 40vw;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;

  margin: 3.25rem auto 3rem;
}

h2 {
  font-size: 2rem;
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  
}

/* FORMS */
form p {
  margin-bottom: 0.5rem;
}

input {
  width:100%;
  color: black;
  font-weight: normal;

  padding: 0.5rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  
  background: rgba(255, 255, 255, 0.5);
  
  border-top: 2px solid rgb(160, 175, 230);
  border-left: 2px solid rgb(160, 175, 230);
  border-radius: 0.375rem;
  
  display: block;
}

input::placeholder {
  color: black;
  opacity: 0.5;
}

button input{
  display: flex;
  width: 100%;
  color: black;
  font-weight: bold;

  padding: 0.5rem;
  margin: 0 auto;
  
  border-top: 1px solid rgb(160, 175, 230);
  border-left: 1px solid rgb(160, 175, 230);
  border-radius: 0.375rem;

  background-color: rgba(125, 125, 189, 0.5);
  opacity: 0.8;
}

.login_form svg {
  width: 2.25rem;
  height: 2.25rem;

  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  stroke: black;
  fill: black;

  padding: 0.4rem;
}

footer {
  font-family: "Arial Rounded MT Bold", "Nunito", sans-serif;
  width: 85vw;
  margin: 0 auto;
}

footer p.bottom_nav {
  font-size: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

footer p.bottom_nav a {
  padding-right: 0.5rem;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
}

footer p.bottom_nav a.bottom_nav_end {
  border: none;
}

footer p.copyright {
  font-size: 0.75rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
